<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/vars.css}">

  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="examples-about">
    <div class="hero-basic">
      <div class="text-content-title">
        <div class="title">OTT project</div>
        <div class="subtitle">Ott 계정공유 플랫폼</div>
      </div>
    </div>
    <div class="navigation-pill-list">
      <div class="navigation-pill">
        <div class="title2">About</div>
      </div>
      <div class="navigation-pill2">
        <div class="title3">플랫폼 구독</div>
      </div>
      <div class="navigation-pill2">
        <div class="title3">구독정보</div>
      </div>
      <div class="navigation-pill2"></div>
      <div class="navigation-pill2">
        <div class="title3"></div>
      </div>
      <div class="navigation-pill2">
        <div class="title3">로그인</div>
      </div>
      <div class="navigation-pill2">
        <div class="title3">회원가입</div>
      </div>
    </div>
 <img class="image-1" th:src="@{/images/image-10.png}" />

    <div class="group-2">
      <div class="panel-image-double">
        <img class="image" src="image0.png" />
      </div>
      <img class="rectangle-1" src="rectangle-10.svg" />
      <div class="ott">
        서비스 소개 : OTT 구독을 공유해서 저렴한 비용으로 즐겨보세요 !
      </div>
    </div>
    <div class="form-log-in">
      <div class="input-field">
        <div class="label">ID</div>
        <div class="input">
          <div class="value">Value</div>
        </div>
      </div>
      <div class="input-field">
        <div class="label">Password</div>
        <div class="input">
          <div class="value">Value</div>
        </div>
      </div>
      <div class="button-group">
        <div class="button">
          <div class="button2">로그인</div>
        </div>
      </div>
      <div class="text-link">
        <div class="text-link2">Forgot password?</div>
      </div>
    </div>
  </div>
  
</body>
</html>